repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.0
    hooks:
      - id: ruff
        types: [python]
        args: [--fix, --exit-non-zero-on-fix, --extend-ignore=ANN101, --extend-ignore=ANN102]
      - id: ruff-format
        types: [python]
        args: [--config, pyproject.toml]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: detect-private-key
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-json
      - id: check-docstring-first
      - id: debug-statements
  - repo: local
    hooks:
      - id: ty
        name: ty-check
        types: [python]
        files: ^src/
        language: python
        entry: ty check
        pass_filenames: false
        args: [
          "--python=.venv/",
          "--output-format", "github",
          "--target-version", "3.12"
        ]
        additional_dependencies: [ty]
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.13.0
    hooks:
      - id: commitizen
        stages: [commit-msg]
