name: Release

on:
  push:
    branches:
      - main
  # Добавляем возможность ручного запуска
  workflow_dispatch:
    inputs:
      dry_run:
        description: 'Dry Run (без реального релиза)'
        required: false
        default: 'true' # По умолчанию безопасно

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@v2

      - name: Python Semantic Release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
            git config global user.name "github-actions[bot]"
            git config global user.email "github-actions[bot]@users.noreply.github.com"

            # Он сам скачает python-semantic-release и запустит его
            uv tool run python-semantic-release publish
